$blue-50: #e6f1fe;
$blue-100: #cce3fd;
$blue-200: #99c7fb;
$blue-300: #66aaf9;
$blue-400: #338ef7;
$blue-500: #006fee;
$blue-600: #005bc4;
$blue-700: #004493;
$blue-800: #002e62;
$blue-900: #001731;

$white: #fff;
$black: #000;

$colors: (
  'blue': $blue-500,
);
